* text=auto
*.html linguistic-language=PHP
*.blade.php linguistic-language=PHP
*.html.twig linguistic-language=PHP
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
